@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.box-center {
  @apply flex items-center justify-center;
}

.box-equal {
  @apply flex items-center;
}

.box-between {
  @apply flex items-center justify-between;
}

a {
  @apply text-gray-400;
}

button:hover,
select:hover,
input:hover {
  @apply bg-gray-200;
}

button:disabled,
select:disabled,
input:disabled {
  @apply cursor-not-allowed opacity-50;
}
